.details {
    height: 700px;
    width: 100%;
    background: #000000;
    transition: .5s;
    position: relative;
    overflow: hidden;
    margin-top: 90px;

    &__cancel {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 57px;
        height: 57px;
        border-radius: 50%;
        background: rgba(20, 20, 20, 0.7);
        z-index: 3;

        svg {
            color: #fff;
            font-size: 17px;
        }
    }

    &__image {
        width: 311px;
        height: 462px;
        border-radius: 10px;
        position: relative;
        z-index: 3;
        object-fit: cover;
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: 1;
    }

    &__info {
        background: linear-gradient(90deg, #000000 40%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 100%);
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 15%;
        padding-top: 30px;
        backdrop-filter: blur(7px);

    }

    &__title {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        color: #fff;
        margin-bottom: 30px;
    }

    &__text {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        width: 935px;
        margin-bottom: 25px;
    }

    &__about {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.6);
    }

    &__year {
        font-family: sans-serif;
    }

    &__time {
        font-family: sans-serif;
        margin-left: 30px;
    }

    &__button {
        font-family: "raleway";
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        padding: 10px 15px;
        background: #149A03;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        width: max-content;
        margin-top: 100px;
    }

    &__role {
        color: #FFF;
        font-size: 16px;
        font-family: "Raleway";
        line-height: 30px;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    &__actors {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        margin-bottom: 30px;
    }
}

.details {
    &__content {
        margin-top: 50px;
    }

    &__block {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        &_title {
            color: #FFF;
            font-size: 22px;
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
        }

        &_text {
            color: #FFF;
            font-size: 20px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
        }
    }
}

.details__recommend {
    &_title {
        color: #FFF;
        font-size: 22px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
    }

    &_box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-bottom: 70px;
    }

    &_movie {
        width: 311px;
        height: 462px;
        border-radius: 10px;
        border: 1px solid #000;
        box-shadow: 0px 4px 4px 0px #000;
        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}